<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.placeholderedittext">

    <application>
        <service
            android:name=".service.PhoneFillerService"
            android:label="Phone Autofill Service"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
    </application>

</manifest>